@import url('https://fonts.googleapis.com/css?family=Exo|Jura|Montserrat|Muli|Poiret+One|Questrial');
/* Global styles */
body {
  font-family: 'Poiret One', cursive;
  color: #eee;
  background-image: url('https://img.freepik.com/free-vector/pattern-of-watermelon_1191-227.jpg?size=338&ext=jpg');
  background-size: 350px;
}

a, a:visited {
  color:  #F0FF00;
  text-shadow: 2px 2px 3px darkgreen;
  padding: 10px;
  text-decoration: none;
}

.clear {
  clear: both;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 10px;
}

table {
  border-collapse:collapse;
}

/* Documentation site component styles */
.example {
  border: 2px solid #fff;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #008E34;
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 10px;
}

.navigation {
  float: left;
  width: 250px;
  list-style-type: none;
  padding: 0;
}

.componentpage {
  margin-left: 275px;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
}