@import url('https://fonts.googleapis.com/css?family=Exo|Jura|Montserrat|Muli|Poiret+One|Questrial');
/* Global styles */
body {
  font-family: 'Poiret One', cursive;
  color: #eee;
  background-image: url('https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-0.3.5&s=0848fb62c3dfdec67175bb0bce76a9b5&auto=format&fit=crop&w=924&q=80');
  background-color: #272C26;
  background-repeat:no-repeat;
  background-size:cover;
}

a, a:visited {
  color:  #F0FF00;
  text-shadow: 2px 2px 3px #222;
  padding: 10px;
  text-decoration: none;
  cursor: crosshair;
  line-height: 25px;
  padding-top: 0px;
}

.clear {
  clear: both;
}

td {
  border-top: solid 1px #d3d3d3;
}

td, th {
  padding: 10px;
}

table {
  border-collapse:collapse;
}

/* Documentation site component styles */
.example {
  border: 1px solid #fff;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #111;
}

.example h4:first-of-type {
   margin-top: 0;
}

.example p:last-of-type {
   margin-bottom: 0;
}

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 10px;
}

.navigation {
  float: left;
  width: 30%;
  list-style-type: none;
  padding: 0;
}

.componentpage {
  margin-left: 30%;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
}

::selection {
  background: #468966; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #468966; /* Gecko Browsers */
}

::-webkit-scrollbar { 
    display: none; 
}